.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
}

.container .labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
}
